<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<body>

	<div class="header">

        <nav id="navv">
    <ul> 
	<img src=projectExpress\Static\Images\bg.jpg>
	 <li> <h1> Company Name </h1> </li>
     <li> <h3> Login/Sign up</h3> </li>
     </ul>
     </nav>
    </div>
	
		<nav id="navbar">
		<ul>
			<li> <h3> <a href="#"> Courses </a> </h3> </li>
			<li> <h3> <a href="#"> Live Classes </a> </h3> </li>
			<li> <h3> <a href="#"> Labs </a> </h3> </li>
            <li> <div class="search">
                <form action="#">
                    <input type="text" placeholder=" Search Courses" name="search">
                    <button>
                        <i class="fa fa-search" style="font-size: 18px;"></i>
                    </button>
                </form> 

            <li> <i class="fa fa-shopping-cart" style="font-size:27px"></i> </li>
		</ul>   
		</nav>
        <div class="container">
        <div class="square">
            <p id="p1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eius incidunt quidem. Ex excepturi consequatur blanditiis rem illo modi beatae dicta tempora, dolore esse?</p>
            <p id="p2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius assumenda fugiat nostrum. Ex modi accusamus delectus eaque, reprehenderit, veniam incidunt neque maxime voluptatum beatae, sit sequi hic enim odio.</p>
            <button id="b1"> Explore </button>
        </div>
        </div>

        <div class="contain">
            <h2> Features </h2> </div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        <div id="chat">
            <i class="material-icons" style="font-size:36px">chat</i>
        </div>
    

		</body>

</body>
</html>