<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <meta charset="UTF-8" />
    <meta name="description" content="Free Web tutorials" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="John Doe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <body>
      <div class="header">
        <nav class="navv">
          <ul>
            <img src="../assets/bg.png" alt="" />
            <li><h1>Company Name</h1></li>
            <li>
              <h3><a href="#" id="a">Login | Signup</a></h3>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mainbox">
        <div class="row">
          <h1><img class="studimg" src="../assets/student.png" alt="" /></h1>
        </div>
        <div class="row">
          <div class="square">
            <h1 class="create-account">Login</h1>
            <div class="email">
              <input class="emailadd" placeholder="Email" type="text" />
            </div>
            <div class="pass">
              <input class="emailadd" type="password" placeholder="Password" />
            </div>
            <div class="loginbtn">
              <div class="login1">
                <button id="b1">Login</button>
              </div>
            </div>
            <p id="login-text">
              <span>Already a user? </span>
              <span style="text-decoration: underline"
                ><a href="#">Sign Up</a></span
              >
            </p>
          </div>
        </div>
      </div>
    </body>
  </head>
</html>
